/*----------------------------------------------------------------- */
/* object/utility/_utility.scss
/*----------------------------------------------------------------- */
@use "../../foundation/index" as f;

.u-img-full{
    width: 100%;
    height: auto;
}

.u-br-sp{
    @include f.breakpoint(pc){
        display: none;
    }
}