/*----------------------------------------------------------------- */
/* object/component/_button.scss
/*----------------------------------------------------------------- */
@use "../../foundation/index" as f;

.c-button{
    display: block;
    position: relative;
    text-align: center;
    margin: 0 f.to-rem(22);
    padding: f.to-rem(22) 0;
    border: 1px solid var(--color-border);
    font-size: f.to-rem(16);
    line-height: 1;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    transition: all 0.3s 0s ease;

    @include f.breakpoint(pc){
        margin: 0 f.to-rem(38);
        padding: f.to-rem(29) 0;
        font-size: f.to-rem(32);
    }

    &::after{
        content: "";
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        background: var(--color-border);
        width: 40px;
        height: 1px;

        @include f.breakpoint(pc){
            right: -20px;
            width: 70px;
        }
    }

    &:hover{
        background: var(--color-border);
        color: var(--color-font-dark);
        transform: scale(1.05);

        &::after{
            content: none;
        }
    }
}