/*----------------------------------------------------------------- */
/* object/component/_section.scss
/*----------------------------------------------------------------- */
@use "../../foundation/index" as f;

.c-section{
    width: 90%;
    padding: f.to-rem(80) 0;

    @include f.breakpoint(pc){
        padding: f.to-rem(104) 0;
    }

    &--wide{
        @include f.breakpoint(pc){
            max-width: 1080px;
        }
    }

    &--narrow{
        @include f.breakpoint(pc){
            max-width: 760px;
        }
    }

    &__heading{
        margin-bottom: f.to-rem(44);
        text-align: center;

        @include f.breakpoint(pc){
            margin-bottom: f.to-rem(60);
        }
    }

    &__heading--main{
        display: block;
        margin-bottom: f.to-rem(20);
    }

    &__heading--sub{
        display: block;
        font-size: f.to-rem(14);
        letter-spacing: 0.08em;
        text-indent: 0.08em;
    }

    &__text{
        margin-bottom: f.to-rem(28);

        @include f.breakpoint(pc){
            margin-bottom: f.to-rem(32);
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}
